* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: black;
}
.unordered-list {
    display: flex;
    flex-direction: row;
}
.list-items {
    padding: 10px;
    list-style: none;
}
.list-items-links {
    text-decoration: none;
}
/*  */
.section-1, .section-2{
    margin-top: 100px;
    /* border: 2px green solid; */
    display: flex;
    flex-direction: row;
}
img {
    height: 300px;
    border-radius: 50%;
    border: 2px white solid;
}
.container-1, .container-2{
    display: flex;
    justify-content: center;
    width: 50%;
    /* border: 2px solid red; */
    height: fit-content;
}
.c12, .c22, .c32   {
    /* border: 1px solid white; */
    display: flex;
    padding-right: 30px;
    flex-direction: column;
}
.c22{
    margin-left: 100px;
}
.heading {
    /* background-color: cadetblue; */
    /* margin-top: 20px; */
    font-size: 48px;
}
.heading-2 {
    text-align: left;
    font-size: 48px;
}
.pne {
    text-align: left;
}
.none {
    display: none;
}
.align {
    width: fit-content;
    height: 65%;
    margin: auto;
}
@media screen and (max-width: 1000px) {
    .section-1, .section-2{
        width: 100%;
        flex-direction: column;
    }
    .unordered-list {
        justify-content: space-around;
    }
    .c11, .c12, .c22, .c {
        
        width: 100%;
    }
    .c12, .c22{
        margin-left: 0px;
    }
    img {
        margin: auto;
    }
    .heading, .heading-2 {
        width: fit-content;
        font-size: 32px;
        margin: auto;
        margin-bottom: 50px;
    }
    .about,.heading-2, .pne {
        padding-left: 20px;
        text-align: center;
    }
    .align{
        width: 100%;
        margin-left: 0px;
        margin: auto;
    }
    .icons {
        margin: auto;
    }
    
}
@media screen and (max-width: 500px) {
    .unordered-list{
        display: flex;
        flex-direction: column;
    }
    .social {
        margin-right: 150px;
        /* margin-top: -50px; */
    }
    .heading {
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .svg {
        display: none;
    }


}
.icons, .social-items {
    list-style: none;
}
.icons img {
    border-radius: 50%;
    height: 50px;
    border: 0px solid ;
}
.icon-section, .social {
    margin-left: -50px;
    display: flex;
}
.links a {
    font-size: 20px;
}


.section-3 {
    display: flex;
    flex-direction: row;
    /* border: 2px red solid; */
}
.container-3 {
    width: 50%;
    /* border: 2px solid yellow; */
}
.c31 {
    margin-left: 100px;
}
.svg {
    border-radius: 50%;
    border: 2px white solid;
    height: 15px;
    background-color: white;
    color: white;
}
.social  svg {
    margin: 20px;
    height: 40px;
}
