* {
    font-family: 'Karla', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: black;
}
.unordered-list {
    display: flex;
    flex-direction: row;
}
.list-items {
    padding: 10px;
    list-style: none;
}
.list-items-links {
    text-decoration: none;
}
/*  */
.section-1, .section-2{
    /* border: 1px solid red; */
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}
img {
    height: 300px;
    border-radius: 50%;
    border: 2px white solid;
}
.container-1, .container-2{
    display: flex;
    /* border: 2px green solid; */
    justify-content: center;
    width: 50%;
    height: fit-content;
}

.c12, .c22{
    display: flex;
    padding-right: 30px;
    flex-direction: column;
}
.heading {
    font-size: 48px;
}
.heading-2 {
    text-align: left;
    font-size: 48px;
}
.pne {
    text-align: left;
}
.none {
    display: none;
}
.align {
    width: fit-content;
    height: 65%;
    margin: auto;
}
@media screen and (max-width: 1000px) {
    .section-1, .section-2{
        width: 100%;
        flex-direction: column;
    }
    .unordered-list {
        justify-content: space-around;
    }
    .c11, .c12, .c22 {
        width: 100%;
    }
    img {
        margin: auto;
    }
    .heading, .heading-2 {
        font-size: 40px;
        margin: auto;
        margin-bottom: 50px;
    }
    .about,.heading-2 .pne {
        padding-left: 20px;
        text-align: center;
    }
    .align{
        margin-left: 0px;
    }
    
}
@media screen and (max-width: 500px) {
    .unordered-list{
        display: flex;
        flex-direction: column;
    }
}

.icons, .social-items {
    list-style: none;
}
.icons img {
    border-radius: 50%;
    height: 50px;
    border: 0px solid ;
}
.icon-section, .social {
    margin-left: -50px;
    display: flex;
}
.links a {
    font-size: 20px;
}
