* {
    font-family: 'Karla', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: black;
}
.unordered-list {
    display: flex;
    flex-direction: row;
}
.list-items {
    padding: 10px;
    list-style: none;
}
.list-items-links {
    text-decoration: none;
}
/*  */
.section-1{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}
img {
    height: 300px;
    border-radius: 50%;
    border: 2px white solid;
}
.container-1{
    display: flex;;
    justify-content: center;
    width: 50%;
    height: fit-content;
}

.c12{
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: center;
    padding-right: 100px;    
}
.heading {
    font-size: 48px;
}
@media screen and (max-width:900px) {
    .section-1{
        flex-direction: column;
    }
    .unordered-list {
        justify-content: space-around;
    }
    .c11, .c12 {
        width: 100%;
    }
    img {
        margin: auto;
    }
    .heading {
        margin: auto;
    }
    .about {
        margin-top: 50px;
        text-align: center;
    }
    
}